@config "../../tailwind.config.js";
@import "tailwindcss";

@layer base {
  :root {
    --background: 45 38% 97%;
    --foreground: 224 71.4% 4.1%;

    --card: 45 40% 99%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 45 40% 99%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 45 24% 93%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 45 22% 92%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 45 24% 93%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 45 16% 85%;
    --input: 45 16% 85%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .paper {
    --background: 45 38% 97%;
    --foreground: 224 71.4% 4.1%;

    --card: 45 40% 99%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 45 40% 99%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 45 24% 93%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 45 22% 92%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 45 24% 93%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 45 16% 85%;
    --input: 45 16% 85%;
    --ring: 224 71.4% 4.1%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.print-force-new-page {
  page-break-before: always;
}
